POSTGRES_DB=pokocken
POSTGRES_USER=pokocken
POSTGRES_PASSWORD=replace-with-local-db-password

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH='replace-with-local-admin-password-hash'
ADMIN_API_KEY=replace-with-local-admin-api-key
ADMIN_ALLOW_API_KEY_FALLBACK=true
